@import 'fonts.css';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-weight: 400;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}
.navigation{
    display: flex;
    margin-top: 20px;
}
.container{
    max-width: 1350px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.header__left{
    display: flex;
    text-align: center;
    gap: 55px;
    align-items: center;
}
.header__right{
    display: flex;
    text-align: center;
    gap: 45px;
    align-items: center;
}
.between{
    gap: 300px;
}
.header__lang{
    font-size: 20px;
    gap: 18px;
}
.header__title{
    font-size: 32px;
    font-weight: 700;
}
.header .container::after{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: #323232;
    margin-top: 12px;
}
.catalog__left{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    grid-auto-flow: column;
    gap: 10px;
}
.right__item{
    grid-row: span 2;
    margin-top: 40px;
}
.left__item{
    width: 526px;
    height: 280px;
    border-radius: 10px;
    background: rgb(225, 225, 225);
    margin-top: 40px;
}
.sale{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 50px;
    border-radius: 10px;
    margin: 15px;
    background: rgb(50, 50, 50);
}
.sale1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 50px;
    border-radius: 10px;
    margin: 15px;
    background: rgb(225, 225, 225);
}
.sale p{
    display: flex;
    font-size: 20px;
    color: #FFFFFF;
}
.sale1 p{
    display: flex;
    font-size: 20px;
    color: rgb(225, 225, 225); 
}
.main__info{
    display: flex;
    font-size: 16px;
}
.main__text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    margin-left: 45%;
    margin-top: -130px;
}
.main__title{
    font-weight: 700;
    font-size: 18px;
}
.img__catalog{
    display: flex;
    margin-left: 110px;
    margin-top: 20px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
}
.right__item{
    width: 746px;
    height: 610px;
    border-radius: 10px;
    background: rgb(225, 225, 225);
    justify-content: center;
    align-items: center;
}
.section1 .container{
    display: flex;
    padding: 15px;
}
.img__catalog1{
    display: flex;
    margin-left: 110px;
    margin-top: 150px;
    margin-right: 50px;
}
.main__text1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    margin-left: 45%;
    margin-top: -180px;
}
.catalog__column{
    display: grid;
    grid-template-columns: repeat(3, 4fr) ;
    grid-row-gap: 40px;
    justify-content: center;
    justify-items: center;
}
.sec2__title{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 30px;
}

.section2 {
    padding: 15px;
}

.section2 .container::after{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: #323232;
    margin-top: 12px;
    margin-bottom: 20px;
}

.catalog__item{
    width: 416px;
    height: 485px;
    border-radius: 10px;
    background: rgb(225, 225, 225);
    
}
.more{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
    margin-bottom: 30px;
}
.btn__img{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    padding: 15px;
    border-radius: 10px;
    float: right;
    width: 50px;
    justify-content: center;
    align-items: center;
}
.item__info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
}
.item__info h3{
    font-size: 20px;
    font-weight: 700;
}
.catalog__img{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}
.section3 .container{
    padding: 15px;
    margin-bottom: 30px;
}
.sec3__title{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 30px;
}
.section3 .container::before{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: #323232;
    margin-top: 10px;
    margin-bottom: 50px;
}
.news{
    display: flex;
    gap: 10px;
}
.footer{
   background: #323232; 
}
.footer__row{
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.footer__social{
    display: flex;
}
.footer__col-title1{
    font-size: 32px;
    font-weight:700;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.footer__col-title{
    font-size: 22px;
    font-weight:400;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.footer__col-link{
    font-size: 18px;
    color: #FFFFFF;
    gap: 15px;
}
.footer__col-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer__text{
    font-size: 18px;
    font-weight:400;
    color: #FFFFFF;
    margin-bottom: 15px;
    width: 525px;
}
.footer__mail{
    font-size: 18px;
    font-weight:400;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.footer__number{
    display: flex;
    gap: 10px;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.footer__social-title{
    font-size: 22px;
    font-weight:400;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.social__img{
    display: flex;
    gap: 15px;
}